@tailwind base;
@tailwind components;
@tailwind utilities;

/* GAYATHRI */
/* 
*{
background-image: url(../images/bg.png);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: black;
} */
/* .container2{  
  width: 100px;
} */
#content{
    background: linear-gradient(rgb(255, 255, 255),  rgba(184, 184, 184, 0.334), rgba(184, 184, 184, 0.395), rgb(255, 255, 255)),url("../images/eventtableblur.png") no-repeat center center/cover;
    width: 1423px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size:xx-large ;
}
.container1{
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card1{
  display: flex;
  align-items: center;
  justify-items: center;
}
.img-box{
  width: 150px;
  height: 500px;
  margin: 10px;
  border-radius: 50px;
  background: url(../images/photoshoot2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;   
  transition: width 0.5s;
}
.img-box:nth-child(2)
{
  background: url(../images/haldi3.jpg);
  background-size: cover;
  background-position: center;
}
.img-box:nth-child(3)
{
  background: url(../images/corporate4.jpg);
  background-size: cover;
  background-position: center;
}
.img-box:nth-child(4)
{
  background: url(../images/wedding2.jpg);
  background-size: cover;
  background-position: center;
}
.img-box:nth-child(5)
{
  background: url(../images/babyshower3.jpg);
  background-size: cover;
  background-position: center;
}
.img-box h3{
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: xx-large;
  bottom: 0;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s ;
}
.img-box:hover{
  width: 350px;
  cursor: pointer;
}
.img-box:hover h3{
  opacity: 1;
  bottom: 25px;
}
#highlight{
  background-color: rgba(100, 100, 100, 0.837);
}

/* JINU */
h1{
  @apply text-black;
  font-family: "Italiana", sans-serif;
}

.img1{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1)50%, rgba(0,0,0,0));
}
.p1{
  @apply text-red-500 text-center;
  font-family: "Jacques Francois", serif;
  text-shadow: 10px;
}
.btn{
  width: 205px;
  height: 36px;
  border-radius: 25px;
  font-family: "Jacques Francois", serif;
}
.e1{
  width: 519px;
  height: 72px;
}
.f1{
  width: 519px;
  height: 72px;
}
.s1{
  width: 519px;
  height: 72px;
}
.n1{
  width: 519px;
  height: 72px;
}
.div1{
  display: flex;
  justify-content: center;
  font-family: "Jacques Francois", serif;
}
.div2{
  display:flex;
  justify-content: center;
  font-family: "Jacques Francois", serif;
}
.t1{
  width: 1080px;
  height: 251px;
  font-family: "Jacques Francois", serif;
}


